.recipe_name{
  margin-top: 20px;
  input{
    // width: 100%;
    text-align: left;
    font-size: 2em;
  }
}
.userInput{
  display: flex;
  margin: 10px 0;
  input{
    font-size: 16px;
    line-height: 1;
  }
  .userInput_item:not(:first-of-type){
    margin-left: 20px;
    
  }
  .total{
    display: flex;
    align-items: flex-end;
    input{
      width: 45px;
      text-align: right;
    }
    label{
      padding-right: 5px;
    }
  }
  .slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    input{
      width: 200px;
    }
  }
}
table.calc_table{
  $border_bold: 2px solid #aaa;
  $border: 1px solid #bcc;
  border-collapse: collapse;
  border: $border_bold;
  input{
    width: 40px;
    text-align: right;
  }
  th, td{
    border: $border;
    padding: 5px 10px;
  }
  th{
    border-bottom: $border_bold;
  }
  td{
    text-align: right;
    &:first-child{
      text-align: left;
      .flavour_name{
        width: auto;
        text-align: left;
        font: inherit;
      }
      .btn_del{
        background: #C92525;
        border-radius: 50%;
        color: white;
        box-shadow: 0px 0px 1px 1px #122,
        inset 0px 0px 4px 0px white;
        border: none; 
        $size: 14px;
        width: $size * 5/4;
        height: $size;
        font-size: $size * 2/3;
        float: right;
        margin-left: 10px;
      }
    }
  }
  tr.total{
    border-top: $border_bold;
    border-bottom: $border_bold;
    font-weight: 600;
  }
}
