table.calc_table{
  border-collapse: collapse;
  th, td{
    border: 1px solid #bcc;
    padding: 5px 10px;
  }
  td{
    text-align: right;
    &:first-child{
      text-align: left;
    }
    .type_name{
      width: auto;
      text-align: left;
      font: inherit;
    }
  }
  tr.total{
    $border: 2px solid #aaa;
    border-top: $border;
    border-bottom: $border;
    font-weight: 600;
  }
}
