.container {
  width: 100%;
  padding: 0 20px;
}
table.calc_table{
  border-collapse: collapse;
}
.calc_table th,
.calc_table td{
  border: 1px solid #bcc;
}
.calc_table th,
.calc_table td{
  padding: 5px 10px;
}
.calc_table td{
  text-align: right;
}
.calc_table td:first-child{
  text-align: left;
}
.calc_table tr.sum{
  border-bottom: 2px solid #aaa;
}

.userInput{
  display: flex;
  margin: 10px 0;
}
.userInput .userInput_item{
  box-shadow: 0px 1px 1px 1px;
}
.userInput input, .userInput label{
  padding: 5px;
  font-size: 16px;
  line-height: 1;
}
.userInput input{
  width: 40px;
  text-align: right;
  border: none;
}
