.container {
  width: 100%;
  padding: 0 20px;
}
table.calc_table{
  border-collapse: collapse;
}
.calc_table th,
.calc_table td{
  border: 1px solid #bcc;
}
.calc_table th,
.calc_table td{
  padding: 5px 10px;
}
.calc_table td{
  text-align: right;
}
.calc_table td:first-child{
  text-align: left;
}
